<!DOCTYPE html>
<html class="k-{{ .Kind }}" lang="en-au">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <a href="#reading" style="position: absolute; left: -9999px;">Skip to content</a>
  <header>
    {{ partial "toolbar.html" . }}
  </header>
  <nav>
    {{ partial "tag-strip.html" . }}
  </nav>
  <div class="layout-wrapper">
    <nav class="list-pane">
      {{ block "message-list" . }}{{ end }}
    </nav>
    <main id="reading" class="reading-pane">
      {{ block "main" . }}{{ end }}
    </main>
  </div>
</body>
</html>
