{{ define "main" }}
  <div>
    <h1>Tags</h1>
    {{ $tags := site.Taxonomies.tags }}
    <ul class="taxonomy-list">
      {{ range $tags.ByCount }}
        <li class="taxonomy-item">
          <a href="{{ .Page.RelPermalink }}" class="taxonomy-link">
            <span class="taxonomy-name">{{ .Term }}</span>
            <span class="taxonomy-count">{{ .Count }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
{{ define "message-list" }}
  {{ $pages := where site.RegularPages "Section" "posts" }}
  {{ $paginator := .Paginate $pages }}
  {{ partial "message-list.html" (dict "Pages" $paginator.Pages "Current" . "Paginator" $paginator) }}
{{ end }}
