{{ define "main" }}
  <div class="taxonomy-page">
    <h1>Tags</h1>
    {{ $tags := site.Taxonomies.tags }}
    <ul class="tag-list">
      {{ range $tags.ByCount }}
        <li class="tag-list__item">
          <a href="{{ .Page.RelPermalink }}" class="tag-list__link">{{ .Term }}</a>
          <span class="tag-list__count">{{ .Count }}</span>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
{{ define "message-list" }}
  {{ $pages := where site.RegularPages "Section" "posts" }}
  {{ partial "message-list.html" (dict "Pages" $pages "Current" .) }}
{{ end }}
