<a href="{{ .Page.RelPermalink }}" {{ if eq .Page .Current }}aria-current="page" class="current-row message-row"{{ else }}class="message-row"{{ end }}>
  <div class="row-meta">
    <span>{{ .Page.Date.Format "2006-01-02" }}</span>
    {{ if .Page.ReadingTime }}<span>{{ .Page.ReadingTime }} min read</span>{{ end }}
  </div>
  <div class="row-subject">{{ .Page.Title }}</div>
  <div class="row-snippet-container">
    <div class="row-snippet">
      {{ .Page.Summary | plainify | truncate 110 }}
    </div>
    {{ if .Page.Params.tags }}
      <div class="row-chips">
        {{ range .Page.Params.tags }}
          {{ partial "chip.html" . }}
        {{ end }}
      </div>
    {{ end }}
  </div>
</a>
